openapi: 3.0.0
info:
  title: Vapi Chats API
  description: Vapi API — Chats resource. Voice AI for developers.
  version: '1.0'
  contact:
    name: Vapi
    url: https://vapi.ai
servers:
- url: https://api.vapi.ai
security:
- bearer: []
tags:
- name: Chats
  description: Chats endpoints.
paths:
  /chat:
    get:
      operationId: ChatController_listChats
      summary: List Chats
      parameters:
      - name: id
        required: false
        in: query
        description: This is the unique identifier for the chat to filter by.
        schema:
          type: string
      - name: assistantId
        required: false
        in: query
        description: This is the unique identifier for the assistant that will be used for the chat.
        schema:
          type: string
      - name: assistantIdAny
        required: false
        in: query
        description: Filter by multiple assistant IDs. Provide as comma-separated values.
        schema:
          example: assistant-1,assistant-2,assistant-3
          type: string
      - name: squadId
        required: false
        in: query
        description: This is the unique identifier for the squad that will be used for the chat.
        schema:
          type: string
      - name: sessionId
        required: false
        in: query
        description: This is the unique identifier for the session that will be used for the chat.
        schema:
          type: string
      - name: previousChatId
        required: false
        in: query
        description: This is the unique identifier for the previous chat to filter by.
        schema:
          type: string
      - name: page
        required: false
        in: query
        description: This is the page number to return. Defaults to 1.
        schema:
          minimum: 1
          type: number
      - name: sortOrder
        required: false
        in: query
        description: This is the sort order for pagination. Defaults to 'DESC'.
        schema:
          enum:
          - ASC
          - DESC
          type: string
      - name: sortBy
        required: false
        in: query
        description: This is the column to sort by. Defaults to 'createdAt'.
        schema:
          enum:
          - createdAt
          - duration
          - cost
          type: string
      - name: limit
        required: false
        in: query
        description: This is the maximum number of items to return. Defaults to 100.
        schema:
          minimum: 0
          maximum: 1000
          type: number
      - name: createdAtGt
        required: false
        in: query
        description: This will return items where the createdAt is greater than the specified value.
        schema:
          format: date-time
          type: string
      - name: createdAtLt
        required: false
        in: query
        description: This will return items where the createdAt is less than the specified value.
        schema:
          format: date-time
          type: string
      - name: createdAtGe
        required: false
        in: query
        description: This will return items where the createdAt is greater than or equal to the specified value.
        schema:
          format: date-time
          type: string
      - name: createdAtLe
        required: false
        in: query
        description: This will return items where the createdAt is less than or equal to the specified value.
        schema:
          format: date-time
          type: string
      - name: updatedAtGt
        required: false
        in: query
        description: This will return items where the updatedAt is greater than the specified value.
        schema:
          format: date-time
          type: string
      - name: updatedAtLt
        required: false
        in: query
        description: This will return items where the updatedAt is less than the specified value.
        schema:
          format: date-time
          type: string
      - name: updatedAtGe
        required: false
        in: query
        description: This will return items where the updatedAt is greater than or equal to the specified value.
        schema:
          format: date-time
          type: string
      - name: updatedAtLe
        required: false
        in: query
        description: This will return items where the updatedAt is less than or equal to the specified value.
        schema:
          format: date-time
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatPaginatedResponse'
      tags:
      - Chats
      security:
      - bearer: []
    post:
      operationId: ChatController_createChat
      summary: Create Chat
      description: 'Creates a new chat with optional SMS delivery via transport field. Requires at least one of: assistantId/assistant,
        sessionId, or previousChatId. Note: sessionId and previousChatId are mutually exclusive. Transport field enables SMS
        delivery with two modes: (1) New conversation - provide transport.phoneNumberId and transport.customer to create a
        new session, (2) Existing conversation - provide sessionId to use existing session data. Cannot specify both sessionId
        and transport fields together. The transport.useLLMGeneratedMessageForOutbound flag controls whether input is processed
        by LLM (true, default) or forwarded directly as SMS (false).'
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateChatDTO'
      responses:
        '200':
          description: Chat response - either non-streaming chat or streaming
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/Chat'
                - $ref: '#/components/schemas/CreateChatStreamResponse'
        '201':
          description: ''
          content:
            application/json:
              schema:
                type: object
      tags:
      - Chats
      security:
      - bearer: []
  /chat/{id}:
    get:
      operationId: ChatController_getChat
      summary: Get Chat
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Chat'
      tags:
      - Chats
      security:
      - bearer: []
    delete:
      operationId: ChatController_deleteChat
      summary: Delete Chat
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Chat'
      tags:
      - Chats
      security:
      - bearer: []
  /chat/responses:
    post:
      operationId: ChatController_createOpenAIChat
      summary: Create Chat (OpenAI Compatible)
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenAIResponsesRequest'
      responses:
        '200':
          description: OpenAI Responses API format - either non-streaming or streaming
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ResponseObject'
                - $ref: '#/components/schemas/ResponseTextDeltaEvent'
                - $ref: '#/components/schemas/ResponseTextDoneEvent'
                - $ref: '#/components/schemas/ResponseCompletedEvent'
                - $ref: '#/components/schemas/ResponseErrorEvent'
        '201':
          description: ''
          content:
            application/json:
              schema:
                type: object
      tags:
      - Chats
      security:
      - bearer: []
components:
  securitySchemes:
    bearer:
      scheme: bearer
      bearerFormat: Bearer
      type: http
      description: Retrieve your API Key from [Dashboard](dashboard.vapi.ai).
  schemas:
    AWSIAMCredentialsAuthenticationPlan:
      type: object
      properties:
        type:
          type: string
          enum:
          - aws-iam
        awsAccessKeyId:
          type: string
          description: AWS Access Key ID. This is not returned in the API.
          maxLength: 128
        awsSecretAccessKey:
          type: string
          description: AWS Secret Access Key. This is not returned in the API.
          maxLength: 256
      required:
      - type
      - awsAccessKeyId
      - awsSecretAccessKey
    AWSStsAuthenticationPlan:
      type: object
      properties:
        type:
          type: string
          description: This is the type of authentication plan
          enum:
          - aws-sts
        roleArn:
          type: string
          description: This is the role ARN for the AWS credential
        externalId:
          type: string
          description: Optional external ID for additional security in the role trust policy.
          maxLength: 256
      required:
      - type
      - roleArn
    AnalysisPlan:
      type: object
      properties:
        minMessagesThreshold:
          type: number
          description: 'The minimum number of messages required to run the analysis plan.

            If the number of messages is less than this, analysis will be skipped.


            @default 2'
          deprecated: true
          minimum: 0
        summaryPlan:
          description: This is the plan for generating the summary of the call. This outputs to `call.analysis.summary`.
          deprecated: true
          allOf:
          - $ref: '#/components/schemas/SummaryPlan'
        structuredDataPlan:
          description: This is the plan for generating the structured data from the call. This outputs to `call.analysis.structuredData`.
          deprecated: true
          allOf:
          - $ref: '#/components/schemas/StructuredDataPlan'
        structuredDataMultiPlan:
          description: This is an array of structured data plan catalogs. Each entry includes a `key` and a `plan` for generating
            the structured data from the call. This outputs to `call.analysis.structuredDataMulti`.
          deprecated: true
          type: array
          items:
            $ref: '#/components/schemas/StructuredDataMultiPlan'
        successEvaluationPlan:
          description: This is the plan for generating the success evaluation of the call. This outputs to `call.analysis.successEvaluation`.
          deprecated: true
          allOf:
          - $ref: '#/components/schemas/SuccessEvaluationPlan'
        outcomeIds:
          description: 'This is an array of outcome UUIDs to be calculated during analysis.

            The outcomes will be calculated and stored in `call.analysis.outcomes`.'
          deprecated: true
          type: array
          items:
            type: string
    AnthropicBedrockModel:
      type: object
      properties:
        messages:
          description: This is the starting state for the conversation.
          type: array
          items:
            $ref: '#/components/schemas/OpenAIMessage'
        tools:
          type: array
          description: 'These are the tools that the assistant can use during the call. To use existing tools, use `toolIds`.


            Both `tools` and `toolIds` can be used together.'
          items:
            oneOf:
            - $ref: '#/components/schemas/CreateApiRequestToolDTO'
              title: ApiRequestTool
            - $ref: '#/components/schemas/CreateBashToolDTO'
              title: BashTool
            - $ref: '#/components/schemas/CreateCodeToolDTO'
              title: CodeTool
            - $ref: '#/components/schemas/CreateComputerToolDTO'
              title: ComputerTool
            - $ref: '#/components/schemas/CreateDtmfToolDTO'
              title: DtmfTool
            - $ref: '#/components/schemas/CreateEndCallToolDTO'
              title: EndCallTool
            - $ref: '#/components/schemas/CreateFunctionToolDTO'
              title: FunctionTool
            - $ref: '#/components/schemas/CreateGoHighLevelCalendarAvailabilityToolDTO'
              title: GoHighLevelCalendarAvailabilityTool
            - $ref: '#/components/schemas/CreateGoHighLevelCalendarEventCreateToolDTO'
              title: GoHighLevelCalendarEventCreateTool
            - $ref: '#/components/schemas/CreateGoHighLevelContactCreateToolDTO'
              title: GoHighLevelContactCreateTool
            - $ref: '#/components/schemas/CreateGoHighLevelContactGetToolDTO'
              title: GoHighLevelContactGetTool
            - $ref: '#/components/schemas/CreateGoogleCalendarCheckAvailabilityToolDTO'
              title: GoogleCalendarCheckAvailabilityTool
            - $ref: '#/components/schemas/CreateGoogleCalendarCreateEventToolDTO'
              title: GoogleCalendarCreateEventTool
            - $ref: '#/components/schemas/CreateGoogleSheetsRowAppendToolDTO'
              title: GoogleSheetsRowAppendTool
            - $ref: '#/components/schemas/CreateHandoffToolDTO'
              title: HandoffTool
            - $ref: '#/components/schemas/CreateMcpToolDTO'
              title: McpTool
            - $ref: '#/components/schemas/CreateQueryToolDTO'
              title: QueryTool
            - $ref: '#/components/schemas/CreateSlackSendMessageToolDTO'
              title: SlackSendMessageTool
            - $ref: '#/components/schemas/CreateSmsToolDTO'
              title: SmsTool
            - $ref: '#/components/schemas/CreateTextEditorToolDTO'
              title: TextEditorTool
            - $ref: '#/components/schemas/CreateTransferCallToolDTO'
              title: TransferCallTool
            - $ref: '#/components/schemas/CreateSipRequestToolDTO'
              title: SipRequestTool
            - $ref: '#/components/schemas/CreateVoicemailToolDTO'
              title: VoicemailTool
        toolIds:
          description: 'These are the tools that the assistant can use during the call. To use transient tools, use `tools`.


            Both `tools` and `toolIds` can be used together.'
          type: array
          items:
            type: string
        knowledgeBase:
          description: These are the options for the knowledge base.
          oneOf:
          - $ref: '#/components/schemas/CreateCustomKnowledgeBaseDTO'
            title: Custom
        provider:
          type: string
          description: The provider identifier for Anthropic via AWS Bedrock.
          enum:
          - anthropic-bedrock
        model:
          type: string
          description: The specific Anthropic/Claude model that will be used via Bedrock.
          enum:
          - claude-3-opus-20240229
          - claude-3-sonnet-20240229
          - claude-3-haiku-20240307
          - claude-3-5-sonnet-20240620
          - claude-3-5-sonnet-20241022
          - claude-3-5-haiku-20241022
          - claude-3-7-sonnet-20250219
          - claude-opus-4-20250514
          - claude-opus-4-5-20251101
          - claude-opus-4-6
          - claude-sonnet-4-20250514
          - claude-sonnet-4-5-20250929
          - claude-sonnet-4-6
          - claude-haiku-4-5-20251001
        thinking:
          description: 'Optional configuration for Anthropic''s thinking feature.

            Only applicable for claude-3-7-sonnet-20250219 model.

            If provided, maxTokens must be greater than thinking.budgetTokens.'
          allOf:
          - $ref: '#/components/schemas/AnthropicThinkingConfig'
        temperature:
          type: number
          description: This is the temperature that will be used for calls. Default is 0 to leverage caching for lower latency.
          minimum: 0
          maximum: 2
        maxTokens:
          type: number
          description: This is the max number of tokens that the assistant will be allowed to generate in each turn of the
            conversation. Default is 250.
          minimum: 50
          maximum: 10000
        emotionRecognitionEnabled:
          type: boolean
          description: 'This determines whether we detect user''s emotion while they speak and send it as an additional info
            to model.


            Default `false` because the model is usually are good at understanding the user''s emotion from text.


            @default false'
        numFastTurns:
          type: number
          description: 'This sets how many turns at the start of the conversation to use a smaller, faster model from the
            same provider before switching to the primary model. Example, gpt-3.5-turbo if provider is openai.


            Default is 0.


            @default 0'
          minimum: 0
      required:
      - provider
      - model
    AnthropicModel:
      type: object
      properties:
        messages:
          description: This is the starting state for the conversation.
          type: array
          items:
            $ref: '#/components/schemas/OpenAIMessage'
        tools:
          type: array
          description: 'These are the tools that the assistant can use during the call. To use existing tools, use `toolIds`.


            Both `tools` and `toolIds` can be used together.'
          items:
            oneOf:
            - $ref: '#/components/schemas/CreateApiRequestToolDTO'
              title: ApiRequestTool
            - $ref: '#/components/schemas/CreateBashToolDTO'
              title: BashTool
            - $ref: '#/components/schemas/CreateCodeToolDTO'
              title: CodeTool
            - $ref: '#/components/schemas/CreateComputerToolDTO'
              title: ComputerTool
            - $ref: '#/components/schemas/CreateDtmfToolDTO'
              title: DtmfTool
            - $ref: '#/components/schemas/CreateEndCallToolDTO'
              title: EndCallTool
            - $ref: '#/components/schemas/CreateFunctionToolDTO'
              title: FunctionTool
            - $ref: '#/components/schemas/CreateGoHighLevelCalendarAvailabilityToolDTO'
              title: GoHighLevelCalendarAvailabilityTool
            - $ref: '#/components/schemas/CreateGoHighLevelCalendarEventCreateToolDTO'
              title: GoHighLevelCalendarEventCreateTool
            - $ref: '#/components/schemas/CreateGoHighLevelContactCreateToolDTO'
              title: GoHighLevelContactCreateTool
            - $ref: '#/components/schemas/CreateGoHighLevelContactGetToolDTO'
              title: GoHighLevelContactGetTool
            - $ref: '#/components/schemas/CreateGoogleCalendarCheckAvailabilityToolDTO'
              title: GoogleCalendarCheckAvailabilityTool
            - $ref: '#/components/schemas/CreateGoogleCalendarCreateEventToolDTO'
              title: GoogleCalendarCreateEventTool
            - $ref: '#/components/schemas/CreateGoogleSheetsRowAppendToolDTO'
              title: GoogleSheetsRowAppendTool
            - $ref: '#/components/schemas/CreateHandoffToolDTO'
              title: HandoffTool
            - $ref: '#/components/schemas/CreateMcpToolDTO'
              title: McpTool
            - $ref: '#/components/schemas/CreateQueryToolDTO'
              title: QueryTool
            - $ref: '#/components/schemas/CreateSlackSendMessageToolDTO'
              title: SlackSendMessageTool
            - $ref: '#/components/schemas/CreateSmsToolDTO'
              title: SmsTool
            - $ref: '#/components/schemas/CreateTextEditorToolDTO'
              title: TextEditorTool
            - $ref: '#/components/schemas/CreateTransferCallToolDTO'
              title: TransferCallTool
            - $ref: '#/components/schemas/CreateSipRequestToolDTO'
              title: SipRequestTool
            - $ref: '#/components/schemas/CreateVoicemailToolDTO'
              title: VoicemailTool
        toolIds:
          description: 'These are the tools that the assistant can use during the call. To use transient tools, use `tools`.


            Both `tools` and `toolIds` can be used together.'
          type: array
          items:
            type: string
        knowledgeBase:
          description: These are the options for the knowledge base.
          oneOf:
          - $ref: '#/components/schemas/CreateCustomKnowledgeBaseDTO'
            title: Custom
        model:
          type: string
          description: The specific Anthropic/Claude model that will be used.
          enum:
          - claude-3-opus-20240229
          - claude-3-sonnet-20240229
          - claude-3-haiku-20240307
          - claude-3-5-sonnet-20240620
          - claude-3-5-sonnet-20241022
          - claude-3-5-haiku-20241022
          - claude-3-7-sonnet-20250219
          - claude-opus-4-20250514
          - claude-opus-4-5-20251101
          - claude-opus-4-6
          - claude-sonnet-4-20250514
          - claude-sonnet-4-5-20250929
          - claude-sonnet-4-6
          - claude-haiku-4-5-20251001
        provider:
          type: string
          description: The provider identifier for Anthropic.
          enum:
          - anthropic
        thinking:
          description: 'Optional configuration for Anthropic''s thinking feature.

            Only applicable for claude-3-7-sonnet-20250219 model.

            If provided, maxTokens must be greater than thinking.budgetTokens.'
          allOf:
          - $ref: '#/components/schemas/AnthropicThinkingConfig'
        temperature:
          type: number
          description: This is the temperature that will be used for calls. Default is 0 to leverage caching for lower latency.
          minimum: 0
          maximum: 2
        maxTokens:
          type: number
          description: This is the max number of tokens that the assistant will be allowed to generate in each turn of the
            conversation. Default is 250.
          minimum: 50
          maximum: 10000
        emotionRecognitionEnabled:
          type: boolean
          description: 'This determines whether we detect user''s emotion while they speak and send it as an additional info
            to model.


            Default `false` because the model is usually are good at understanding the user''s emotion from text.


            @default false'
        numFastTurns:
          type: number
          description: 'This sets how many turns at the start of the conversation to use a smaller, faster model from the
            same provider before switching to the primary model. Example, gpt-3.5-turbo if provider is openai.


            Default is 0.


            @default 0'
          minimum: 0
      required:
      - model
      - provider
    AnthropicThinkingConfig:
      type: object
      properties:
        type:
          type: string
          enum:
          - enabled
        budgetTokens:
          type: number
          description: 'The maximum number of tokens to allocate for thinking.

            Must be between 1024 and 100000 tokens.'
          minimum: 1024
          maximum: 100000
      required:
      - type
      - budgetTokens
    AnyscaleModel:
      type: object
      properties:
        messages:
          description: This is the starting state for the conversation.
          type: array
          items:
            $ref: '#/components/schemas/OpenAIMessage'
        tools:
          type: array
          description: 'These are the tools that the assistant can use during the call. To use existing tools, use `toolIds`.


            Both `tools` and `toolIds` can be used together.'
          items:
            oneOf:
            - $ref: '#/components/schemas/CreateApiRequestToolDTO'
              title: ApiRequestTool
            - $ref: '#/components/schemas/CreateBashToolDTO'
              title: BashTool
            - $ref: '#/components/schemas/CreateCodeToolDTO'
              title: CodeTool
            - $ref: '#/components/schemas/CreateComputerToolDTO'
              title: ComputerTool
            - $ref: '#/components/schemas/CreateDtmfToolDTO'
              title: DtmfTool
            - $ref: '#/components/schemas/CreateEndCallToolDTO'
              title: EndCallTool
            - $ref: '#/components/schemas/CreateFunctionToolDTO'
              title: FunctionTool
            - $ref: '#/components/schemas/CreateGoHighLevelCalendarAvailabilityToolDTO'
              title: GoHighLevelCalendarAvailabilityTool
            - $ref: '#/components/schemas/CreateGoHighLevelCalendarEventCreateToolDTO'
              title: GoHighLevelCalendarEventCreateTool
            - $ref: '#/components/schemas/CreateGoHighLevelContactCreateToolDTO'
              title: GoHighLevelContactCreateTool
            - $ref: '#/components/schemas/CreateGoHighLevelContactGetToolDTO'
              title: GoHighLevelContactGetTool
            - $ref: '#/components/schemas/CreateGoogleCalendarCheckAvailabilityToolDTO'
              title: GoogleCalendarCheckAvailabilityTool
            - $ref: '#/components/schemas/CreateGoogleCalendarCreateEventToolDTO'
              title: GoogleCalendarCreateEventTool
            - $ref: '#/components/schemas/CreateGoogleSheetsRowAppendToolDTO'
              title: GoogleSheetsRowAppendTool
            - $ref: '#/components/schemas/CreateHandoffToolDTO'
              title: HandoffTool
            - $ref: '#/components/schemas/CreateMcpToolDTO'
              title: McpTool
            - $ref: '#/components/schemas/CreateQueryToolDTO'
              title: QueryTool
            - $ref: '#/components/schemas/CreateSlackSendMessageToolDTO'
              title: SlackSendMessageTool
            - $ref: '#/components/schemas/CreateSmsToolDTO'
              title: SmsTool
            - $ref: '#/components/schemas/CreateTextEditorToolDTO'
              title: TextEditorTool
            - $ref: '#/components/schemas/CreateTransferCallToolDTO'
              title: TransferCallTool
            - $ref: '#/components/schemas/CreateSipRequestToolDTO'
              title: SipRequestTool
            - $ref: '#/components/schemas/CreateVoicemailToolDTO'
              title: VoicemailTool
        toolIds:
          description: 'These are the tools that the assistant can use during the call. To use transient tools, use `tools`.


            Both `tools` and `toolIds` can be used together.'
          type: array
          items:
            type: string
        knowledgeBase:
          description: These are the options for the knowledge base.
          oneOf:
          - $ref: '#/components/schemas/CreateCustomKnowledgeBaseDTO'
            title: Custom
        provider:
          type: string
          enum:
          - anyscale
        model:
          type: string
          description: This is the name of the model. Ex. cognitivecomputations/dolphin-mixtral-8x7b
        temperature:
          type: number
          description: This is the temperature that will be used for calls. Default is 0 to leverage caching for lower latency.
          minimum: 0
          maximum: 2
        maxTokens:
          type: number
          description: This is the max number of tokens that the assistant will be allowed to generate in each turn of the
            conversation. Default is 250.
          minimum: 50
          maximum: 10000
        emotionRecognitionEnabled:
          type: boolean
          description: 'This determines whether we detect user''s emotion while they speak and send it as an additional info
            to model.


            Default `false` because the model is usually are good at understanding the user''s emotion from text.


            @default false'
        numFastTurns:
          type: number
          description: 'This sets how many turns at the start of the conversation to use a smaller, faster model from the
            same provider before switching to the primary model. Example, gpt-3.5-turbo if provider is openai.


            Default is 0.


            @default 0'
          minimum: 0
      required:
      - provider
      - model
    ArtifactPlan:
      type: object
      properties:
        recordingEnabled:
          type: boolean
          description: 'This determines whether assistant''s calls are recorded. Defaults to true.


            Usage:

            - If you don''t want to record the calls, set this to false.

            - If you want to record the calls when `assistant.hipaaEnabled` (deprecated) or `assistant.compliancePlan.hipaaEnabled`
            explicity set this to true and make sure to provide S3 or GCP credentials on the Provider Credentials page in
            the Dashboard.


            You can find the recording at `call.artifact.recordingUrl` and `call.artifact.stereoRecordingUrl` after the call
            is ended.


            @default true'
          example: true
        recordingFormat:
          type: string
          description: 'This determines the format of the recording. Defaults to `wav;l16`.


            @default ''wav;l16'''
          enum:
          - wav;l16
          - mp3
        recordingUseCustomStorageEnabled:
          type: boolean
          description: 'This determines whether to use custom storage (S3 or GCP) for call recordings when storage credentials
            are configured.


            When set to false, recordings will be stored on Vapi''s storage instead of your custom storage, even if you have
            custom storage credentials configured.


            Usage:

            - Set to false if you have custom storage configured but want to store recordings on Vapi''s storage for this
            assistant.

            - Set to true (or leave unset) to use your custom storage for recordings when available.


            @default true'
          example: true
        videoRecordingEnabled:
          type: boolean
          description: 'This determines whether the video is recorded during the call. Defaults to false. Only relevant for
            `webCall` type.


            You can find the video recording at `call.artifact.videoRecordingUrl` after the call is ended.


            @default false'
          example: false
        fullMessageHistoryEnabled:
          type: boolean
          description: This determines whether the artifact contains the full message history, even after handoff context
            engineering. Defaults to false.
          example: false
        pcapEnabled:
          type: boolean
          description: 'This determines whether the SIP packet capture is enabled. Defaults to true. Only relevant for `phone`
            type calls where phone number''s provider is `vapi` or `byo-phone-number`.


            You can find the packet capture at `call.artifact.pcapUrl` after the call is ended.


            @default true'
          example: true
        pcapS3PathPrefix:
          type: string
          description: 'This is the path where the SIP packet capture will be uploaded. This is only used if you have provided
            S3 or GCP credentials on the Provider Credentials page in the Dashboard.


            If credential.s3PathPrefix or credential.bucketPlan.path is set, this will append to it.


            Usage:

            - If you want to upload the packet capture to a specific path, set this to the path. Example: `/my-assistant-captures`.

            - If you want to upload the packet capture to the root of the bucket, set this to `/`.


            @default ''/'''
          example: /pcaps
        pcapUseCustomStorageEnabled:
          type: boolean
          description: 'This determines whether to use custom storage (S3 or GCP) for SIP packet captures when storage credentials
            are configured.


            When set to false, packet captures will be stored on Vapi''s storage instead of your custom storage, even if you
            have custom storage credentials configured.


            Usage:

            - Set to false if you have custom storage configured but want to store packet captures on Vapi''s storage for
            this assistant.

            - Set to true (or leave unset) to use your custom storage for packet captures when available.


            @default true'
          example: true
        loggingEnabled:
          type: boolean
          description: 'This determines whether the call logs are enabled. Defaults to true.


            @default true'
          example: true
        loggingUseCustomStorageEnabled:
          type: boolean
          description: 'This determines whether to use custom storage (S3 or GCP) for call logs when storage credentials are
            configured.


            When set to false, logs will be stored on Vapi''s storage instead of your custom storage, even if you have custom
            storage credentials configured.


            Usage:

            - Set to false if you have custom storage configured but want to store logs on Vapi''s storage for this assistant.

            - Set to true (or leave unset) to use your custom storage for logs when available.


            @default true'
          example: true
        transcriptPlan:
          description: This is the plan for `call.artifact.transcript`. To disable, set `transcriptPlan.enabled` to false.
          allOf:
          - $ref: '#/components/schemas/TranscriptPlan'
        recordingPath:
          type: string
          description: 'This is the path where the recording will be uploaded. This is only used if you have provided S3 or
            GCP credentials on the Provider Credentials page in the Dashboard.


            If credential.s3PathPrefix or credential.bucketPlan.path is set, this will append to it.


            Usage:

            - If you want to upload the recording to a specific path, set this to the path. Example: `/my-assistant-recordings`.

            - If you want to upload the recording to the root of the bucket, set this to `/`.


            @default ''/'''
        structuredOutputIds:
          description: 'This is an array of structured output IDs to be calculated during the call.

            The outputs will be extracted and stored in `call.artifact.structuredOutputs` after the call is ended.'
          type: array
          items:
            type: string
        structuredOutputs:
          description: 'This is an array of transient structured outputs to be calculated during the call.

            The outputs will be extracted and stored in `call.artifact.structuredOutputs` after the call is ended.

            Use this to provide inline structured output configurations instead of referencing existing ones via structuredOutputIds.'
          type: array
          items:
            $ref: '#/components/schemas/CreateStructuredOutputDTO'
        scorecardIds:
          description: 'This is an array of scorecard IDs that will be evaluated based on the structured outputs extracted
            during the call.

            The scorecards will be evaluated and the results will be stored in `call.artifact.scorecards` after the call has
            ended.'
          type: array
          items:
            type: string
        scorecards:
          description: 'This is the array of scorecards that will be evaluated based on the structured outputs extracted during
            the call.

            The scorecards will be evaluated and the results will be stored in `call.artifact.scorecards` after the call has
            ended.'
          type: array
          items:
            $ref: '#/components/schemas/CreateScorecardDTO'
        loggingPath:
          type: string
          description: 'This is the path where the call logs will be uploaded. This is only used if you have provided S3 or
            GCP credentials on the Provider Credentials page in the Dashboard.


            If credential.s3PathPrefix or credential.bucketPlan.path is set, this will append to it.


            Usage:

            - If you want to upload the call logs to a specific path, set this to the path. Example: `/my-assistant-logs`.

            - If you want to upload the call logs to the root of the bucket, set this to `/`.


            @default ''/'''
    AssemblyAITranscriber:
      type: object
      properties:
        provider:
          type: string
          description: This is the transcription provider that will be used.
          enum:
          - assembly-ai
        language:
          type: string
          description: This is the language that will be set for the transcription.
          enum:
          - multi
          - en
        confidenceThreshold:
          type: number
          description: 'Transcripts below this confidence threshold will be discarded.


            @default 0.4'
          minimum: 0
          maximum: 1
          example: 0.4
        formatTurns:
          type: boolean
          description: 'This enables formatting of transcripts.


            @default true'
          example: true
        endOfTurnConfidenceThreshold:
          type: number
          description: 'This is the end of turn confidence threshold. The minimum confidence that the end of turn is detected.

            Note: Only used if startSpeakingPlan.smartEndpointingPlan is not set.

            @min 0

            @max 1

            @default 0.7'
          minimum: 0
          maximum: 1
          example: 0.7
        minEndOfTurnSilenceWhenConfident:
          type: number
          description: 'This is the minimum end of turn silence when confident in milliseconds.

            Note: Only used if startSpeakingPlan.smartEndpointingPlan is not set.

            @default 160'
          minimum: 0
          example: 160
        wordFinalizationMaxWaitTime:
          type: number
          deprecated: true
          minimum: 0
          example: 160
        maxTurnSilence:
          type: number
          description: 'This is the maximum turn silence time in milliseconds.

            Note: Only used if startSpeakingPlan.smartEndpointingPlan is not set.

            @default 400'
          minimum: 0
          example: 400
        vadAssistedEndpointingEnabled:
          type: boolean
          description: 'Use VAD to assist with endpointing decisions from the transcriber.

            When enabled, transcriber endpointing will be buffered if VAD detects the user is still speaking, preventing premature
            turn-taking.

            When disabled, transcriber endpointing will be used immediately regardless of VAD state, allowing for quicker
            but more aggressive turn-taking.

            Note: Only used if startSpeakingPlan.smartEndpointingPlan is not set.


            @default true'
          example: true
        speechModel:
          type: string
          description: 'This is the speech model used for the streaming session.

            Note: Keyterms prompting is not supported with multilingual streaming.

            @default ''universal-streaming-english'''
          enum:
          - universal-streaming-english
          - universal-streaming-multilingual
        realtimeUrl:
          type: string
          description: The WebSocket URL that the transcriber connects to.
        wordBoost:
          description: Add up to 2500 characters of custom vocabulary.
          type: array
          items:
            type: string
            maxLength: 2500
        keytermsPrompt:
          description: 'Keyterms prompting improves recognition accuracy for specific words and phrases.

            Can include up to 100 keyterms, each up to 50 characters.

            Costs an additional $0.04/hour when enabled.'
          type: array
          items:
            type: string
            maxLength: 50
        endUtteranceSilenceThreshold:
          type: number
          description: The duration of the end utterance silence threshold in milliseconds.
        disablePartialTranscripts:
          type: boolean
          description: 'Disable partial transcripts.

            Set to `true` to not receive partial transcripts. Defaults to `false`.'
        fallbackPlan:
          description: This is the plan for transcriber provider fallbacks in the event that the primary transcriber provider
            fails.
          allOf:
          - $ref: '#/components/schemas/FallbackTranscriberPlan'
      required:
      - provider
    AssistantCustomEndpointingRule:
      type: object
      properties:
        type:
          type: string
          description: 'This endpointing rule is based on the last assistant message before customer started speaking.


            Flow:

            - Assistant speaks

            - Customer starts speaking

            - Customer transcription comes in

            - This rule is evaluated on the last assistant message

            - If a match is found based on `regex`, the endpointing timeout is set to `timeoutSeconds`


            Usage:

            - If you have yes/no questions in your use case like "are you interested in a loan?", you can set a shorter timeout.

            - If you have questions where the customer may pause to look up information like "what''s my account number?",
            you can set a longer timeout.'
          enum:
          - assistant
        regex:
          type: string
          description: 'This is the regex pattern to match.


            Note:

            - This works by using the `RegExp.test` method in Node.JS. Eg. `/hello/.test("hello there")` will return `true`.


            Hot tip:

            - In JavaScript, escape `\` when sending the regex pattern. Eg. `"hello\sthere"` will be sent over the wire as
            `"hellosthere"`. Send `"hello\\sthere"` instead.

            - `RegExp.test` does substring matching, so `/cat/.test("I love cats")` will return `true`. To do full string
            matching, send "^cat$".'
        regexOptions:
          description: 'These are the options for the regex match. Defaults to all disabled.


            @default []'
          type: array
          items:
            $ref: '#/components/schemas/RegexOption'
        timeoutSeconds:
          type: number
          description: This is the endpointing timeout in seconds, if the rule is matched.
          minimum: 0
          maximum: 15
      required:
      - type
      - regex
      - timeoutSeconds
    AssistantMessage:
      type: object
      properties:
        role:
          type: string
          description: This is the role of the message author
          default: assistant
          enum:
          - assistant
        content:
          type: string
          description: This is the content of the assistant message
          maxLength: 10000
        refusal:
          type: string
          description: This is the refusal message generated by the model
          maxLength: 10000
        tool_calls:
          description: This is the tool calls generated by the model
          type: array
          items:
            $ref: '#/components/schemas/ToolCall'
        name:
          type: string
          description: This is an optional name for the participant
          maxLength: 40
        metadata:
          type: object
          description: This is an optional metadata for the message
      required:
      - role
    AssistantOverrides:
      type: object
      properties:
        transcriber:
          description: These are the options for the assistant's transcriber.
          oneOf:
          - $ref: '#/components/schemas/AssemblyAITranscriber'
            title: AssemblyAITranscriber
          - $ref: '#/components/schemas/AzureSpeechTranscriber'
            title: AzureSpeechTranscriber
          - $ref: '#/components/schemas/CustomTranscriber'
            title: CustomTranscriber
          - $ref: '#/components/schemas/DeepgramTranscriber'
            title: DeepgramTranscriber
          - $ref: '#/components/schemas/ElevenLabsTranscriber'
            title: ElevenLabsTranscriber
          - $ref: '#/components/schemas/GladiaTranscriber'
            title: GladiaTranscriber
          - $ref: '#/components/schemas/GoogleTranscriber'
            title: GoogleTranscriber
          - $ref: '#/components/schemas/SpeechmaticsTranscriber'
            title: SpeechmaticsTranscriber
          - $ref: '#/components/schemas/TalkscriberTranscriber'
            title: TalkscriberTranscriber
          - $ref: '#/components/schemas/OpenAITranscriber'
            title: OpenAITranscriber
          - $ref: '#/components/schemas/CartesiaTranscriber'
            title: CartesiaTranscriber
          - $ref: '#/components/schemas/SonioxTranscriber'
            title: SonioxTranscriber
          - $ref: '#/components/schemas/XaiTranscriber'
            title: XaiTranscriber
        model:
          description: These are the options for the assistant's LLM.
          oneOf:
          - $ref: '#/components/schemas/AnthropicModel'
            title: Anthropic
          - $ref: '#/components/schemas/AnthropicBedrockModel'
            title: AnthropicBedrock
          - $ref: '#/components/schemas/AnyscaleModel'
            title: Anyscale
          - $ref: '#/components/schemas/CerebrasModel'
            title: Cerebras
          - $ref: '#/components/schemas/CustomLLMModel'
            title: CustomLLM
          - $ref: '#/components/schemas/DeepInfraModel'
            title: DeepInfra
          - $ref: '#/components/schemas/DeepSeekModel'
            title: DeepSeek
          - $ref: '#/components/schemas/GoogleModel'
            title: Google
          - $ref: '#/components/schemas/GroqModel'
            title: Groq
          - $ref: '#/components/schemas/InflectionAIModel'
            title: InflectionAI
          - $ref: '#/components/schemas/MinimaxLLMModel'
            title: MiniMaxLLM
          - $ref: '#/components/schemas/OpenAIModel'
            title: OpenAI
          - $ref: '#/components/schemas/OpenRouterModel'
            title: OpenRouter
          - $ref: '#/components/schemas/PerplexityAIModel'
            title: PerplexityAI
          - $ref: '#/components/schemas/TogetherAIModel'
            title: Together
          - $ref: '#/components/schemas/XaiModel'
            title: XAI
        voice:
          description: These are the options for the assistant's voice.
          oneOf:
          - $ref: '#/components/schemas/AzureVoice'
            title: AzureVoice
          - $ref: '#/components/schemas/CartesiaVoice'
            title: CartesiaVoice
          - $ref: '#/components/schemas/CustomVoice'
            title: CustomVoice
          - $ref: '#/components/schemas/DeepgramVoice'
            title: DeepgramVoice
          - $ref: '#/components/schemas/ElevenLabsVoice'
            title: ElevenLabsVoice
          - $ref: '#/components/schemas/HumeVoice'
            title: HumeVoice
          - $ref: '#/components/schemas/LMNTVoice'
            title: LMNTVoice
          - $ref: '#/components/schemas/NeuphonicVoice'
            title: NeuphonicVoice
          - $ref: '#/components/schemas/OpenAIVoice'
            title: OpenAIVoice
          - $ref: '#/components/schemas/PlayHTVoice'
            title: PlayHTVoice
          - $ref: '#/components/schemas/WellSaidVoice'
            title: WellSaidVoice
          - $ref: '#/components/schemas/RimeAIVoice'
            title: RimeAIVoice
          - $ref: '#/components/schemas/SmallestAIVoice'
            title: SmallestAIVoice
          - $ref: '#/components/schemas/TavusVoice'
            title: TavusVoice
          - $ref: '#/components/schemas/VapiVoice'
            title: VapiVoice
          - $ref: '#/components/schemas/SesameVoice'
            title: SesameVoice
          - $ref: '#/components/schemas/InworldVoice'
            title: InworldVoice
          - $ref: '#/components/schemas/MinimaxVoice'
            title: MinimaxVoice
          - $ref: '#/components/schemas/XaiVoice'
            title: XaiVoice
        firstMessage:
          type: string
          description: 'This is the first message that the assistant will say. This can also be a URL to a containerized audio
            file (mp3, wav, etc.).


            If unspecified, assistant will wait for user to speak and use the model to respond once they speak.'
          example: Hello! How can I help you today?
        firstMessageInterruptionsEnabled:
          type: boolean
          default: false
        firstMessageMode:
          type: string
          description: 'This is the mode for the first message. Default is ''assistant-speaks-first''.


            Use:

            - ''assistant-speaks-first'' to have the assistant speak first.

            - ''assistant-waits-for-user'' to have the assistant wait for the user to speak first.

            - ''assistant-speaks-first-with-model-generated-message'' to have the assistant speak first with a message generated
            by the model based on the conversation state. (`assistant.model.messages` at call start, `call.messages` at squad
            transfer points).


            @default ''assistant-speaks-first'''
          enum:
          - assistant-speaks-first
          - assistant-speaks-first-with-model-generated-message
          - assistant-waits-for-user
          example: assistant-speaks-first
        voicemailDetection:
          description: 'These are the settings to configure or disable voicemail detection. Alternatively, voicemail detection
            can be configured using the model.tools=[VoicemailTool].

            By default, voicemail detection is disabled.'
          oneOf:
          - type: string
            enum:
            - 'off'
          - $ref: '#/components/schemas/GoogleVoicemailDetectionPlan'
            title: Google
          - $ref: '#/components/schemas/OpenAIVoicemailDetectionPlan'
            title: OpenAI
          - $ref: '#/components/schemas/TwilioVoicemailDetectionPlan'
            title: Twilio
          - $ref: '#/components/schemas/VapiVoicemailDetectionPlan'
            title: Vapi
        clientMessages:
          type: array
          enum:
          - conversation-update
          - assistant.speechStarted
          - function-call
          - function-call-result
          - hang
          - language-changed
          - metadata
          - model-output
          - speech-update
          - status-update
          - transcript
          - tool-calls
          - tool-calls-result
          - tool.completed
          - transfer-update
          - user-interrupted
          - voice-input
          - workflow.node.started
          - assistant.started
          example:
          - conversation-update
          - function-call
          - hang
          - model-output
          - speech-update
          - status-update
          - transfer-update
          - transcript
          - tool-calls
          - user-interrupted
          - voice-input
          - workflow.node.started
          - assistant.started
          description: These are the messages that will be sent to your Client SDKs. Default is conversation-update,function-call,hang,model-output,speech-update,status-update,transfer-update,transcript,tool-calls,user-interrupted,voice-input,workflow.node.started,assistant.started.
            You can check the shape of the messages in ClientMessage schema.
          items:
            type: string
            enum:
            - conversation-update
            - assistant.speechStarted
            - function-call
            - function-call-result
            - hang
            - language-changed
            - metadata
            - model-output
            - speech-update
            - status-update
            - transcript
            - tool-calls
            - tool-calls-result
            - tool.completed
            - transfer-update
            - user-interrupted
            - voice-input
            - workflow.node.started
            - assistant.started
        serverMessages:
          type: array
          enum:
          - assistant.started
          - assistant.speechStarted
          - conversation-update
          - end-of-call-report
          - function-call
          - hang
          - language-changed
          - language-change-detected
          - model-output
          - phone-call-control
          - speech-update
          - status-update
          - transcript
          - transcript[transcriptType="final"]
          - tool-calls
          - transfer-destination-request
          - handoff-destination-request
          - transfer-update
          - user-interrupted
          - voice-input
          - chat.created
          - chat.deleted
          - session.created
          - session.updated
          - session.deleted
          - call.deleted
          - call.delete.failed
          example:
          - conversation-update
          - end-of-call-report
          - function-call
          - hang
          - speech-update
          - status-update
          - tool-calls
          - transfer-destination-request
          - handoff-destination-request
          - user-interrupted
          - assistant.started
          description: These are the messages that will be sent to your Server URL. Default is conversation-update,end-of-call-report,function-call,hang,speech-update,status-update,tool-calls,transfer-destination-request,handoff-destination-request,user-interrupted,assistant.started.
            You can check the shape of the messages in ServerMessage schema.
          items:
            type: string
            enum:
            - assistant.started
            - assistant.speechStarted
            - conversation-update
            - end-of-call-report
            - function-call
            - hang
            - language-changed
            - language-change-detected
            - model-output
            - phone-call-control
            - speech-update
            - status-update
            - transcript
            - transcript[transcriptType="final"]
            - tool-calls
            - transfer-destination-request
            - handoff-destination-request
            - transfer-update
            - user-interrupted
            - voice-input
            - chat.created
            - chat.deleted
            - session.created
            - session.updated
            - session.deleted
            - call.deleted
            - call.delete.failed
        maxDurationSeconds:
          type: number
          description: 'This is the maximum number of seconds that the call will last. When the call reaches this duration,
            it will be ended.


            @default 600 (10 minutes)'
          minimum: 10
          maximum: 43200
          example: 600
        backgroundSound:
          description: 'This is the background sound in the call. Default for phone calls is ''office'' and default for web
            calls is ''off''.

            You can also provide a custom sound by providing a URL to an audio file.'
          oneOf:
          - type: string
            enum:
            - 'off'
            - office
            example: office
          - type: string
            format: uri
            example: https://www.soundjay.com/ambient/sounds/people-in-lounge-1.mp3
        modelOutputInMessagesEnabled:
          type: boolean
          description: 'This determines whether the model''s output is used in conversation history rather than the transcription
            of assistant''s speech.


            @default false'
          example: false
        transportConfigurations:
          type: array
          description: These are the configurations to be passed to the transport providers of assistant's calls, like Twilio.
            You can store multiple configurations for different transport providers. For a call, only the configuration matching
            the call transport provider is used.
          items:
            oneOf:
            - $ref: '#/components/schemas/TransportConfigurationTwilio'
              title: Twilio
        observabilityPlan:
          description: 'This is the plan for observability of assistant''s calls.


            Currently, only Langfuse is supported.'
          oneOf:
          - $ref: '#/components/schemas/LangfuseObservabilityPlan'
            title: Langfuse
          allOf:
          - $ref: '#/components/schemas/LangfuseObservabilityPlan'
        credentials:
          type: array
          description: These are dynamic credentials that will be used for the assistant calls. By default, all the credentials
            are available for use in the call but you can supplement an additional credentials using this. Dynamic credentials
            override existing credentials.
          items:
            oneOf:
            - $ref: '#/components/schemas/CreateAnthropicCredentialDTO'
              title: AnthropicCredential
            - $ref: '#/components/schemas/CreateAnthropicBedrockCredentialDTO'
              title: AnthropicBedrockCredential
            - $ref: '#/components/schemas/CreateAnyscaleCredentialDTO'
              title: AnyscaleCredential
            - $ref: '#/components/schemas/CreateAssemblyAICredentialDTO'
              title: AssemblyAICredential
            - $ref: '#/components/schemas/CreateAzureCredentialDTO'
              title: AzureCredential
            - $ref: '#/components/schemas/CreateAzureOpenAICredentialDTO'
              title: AzureOpenAICredential
            - $ref: '#/components/schemas/CreateByoSipTrunkCredentialDTO'
              title: ByoSipTrunkCredential
            - $ref: '#/components/schemas/CreateCartesiaCredentialDTO'
              title: CartesiaCredential
            - $ref: '#/components/schemas/CreateCerebrasCredentialDTO'
              title: CerebrasCredential
            - $ref: '#/components/schemas/CreateCloudflareCredentialDTO'
              title: CloudflareCredential
            - $ref: '#/components/schemas/CreateCustomLLMCredentialDTO'
              title: CustomLLMCredential
            - $ref: '#/components/schemas/CreateDeepgramCredentialDTO'
              title: DeepgramCredential
            - $ref: '#/components/schemas/CreateDeepInfraCredentialDTO'
              title: DeepInfraCredential
            - $ref: '#/components/schemas/CreateDeepSeekCredentialDTO'
              title: DeepSeekCredential
            - $ref: '#/components/schemas/CreateElevenLabsCredentialDTO'
              title: ElevenLabsCredential
            - $ref: '#/components/schemas/CreateGcpCredentialDTO'
              title: GcpCredential
            - $ref: '#/components/schemas/CreateGladiaCredentialDTO'
              title: GladiaCredential
            - $ref: '#/components/schemas/CreateGoHighLevelCredentialDTO'
              title: GhlCredential
            - $ref: '#/components/schemas/CreateGoogleCredentialDTO'
              title: GoogleCredential
            - $ref: '#/components/schemas/CreateGroqCredentialDTO'
              title: GroqCredential
            - $ref: '#/components/schemas/CreateHumeCredentialDTO'
              title: HumeCredential
            - $ref: '#/components/schemas/CreateInflectionAICredentialDTO'
              title: InflectionAICredential
            - $ref: '#/components/schemas/CreateLangfuseCredentialDTO'
              title: LangfuseCredential
            - $ref: '#/components/schemas/CreateLmntCredentialDTO'
              title: LmntCredential
            - $ref: '#/components/schemas/CreateMakeCredentialDTO'
              title: MakeCredential
            - $ref: '#/components/schemas/CreateMistralCredentialDTO'
              title: MistralCredential
            - $ref: '#/components/schemas/CreateNeuphonicCredentialDTO'
              title: NeuphonicCredential
            - $ref: '#/components/schemas/CreateOpenAICredentialDTO'
              title: OpenAICredential
            - $ref: '#/components/schemas/CreateOpenRouterCredentialDTO'
              title: OpenRouterCredential
            - $ref: '#/components/schemas/CreatePerplexityAICredentialDTO'
              title: PerplexityAICredential
            - $ref: '#/components/schemas/CreatePlayHTCredentialDTO'
              title: PlayHTCredential
            - $ref: '#/components/schemas/CreateRimeAICredentialDTO'
              title: RimeAICredential
            - $ref: '#/components/schemas/CreateRunpodCredentialDTO'
              title: RunpodCredential
            - $ref: '#/components/schemas/CreateS3CredentialDTO'
              title: S3Credential
            - $ref: '#/components/schemas/CreateSmallestAICredentialDTO'
              title: SmallestAICredential
            - $ref: '#/components/schemas/CreateSpeechmaticsCredentialDTO'
              title: SpeechmaticsCredential
            - $ref: '#/components/schemas/CreateSonioxCredentialDTO'
              title: SonioxCredential
            - $ref: '#/components/schemas/CreateSupabaseCredentialDTO'
              title: SupabaseCredential
            - $ref: '#/components/schemas/CreateTavusCredentialDTO'
              title: TavusCredential
            - $ref: '#/components/schemas/CreateTogetherAICredentialDTO'
              title: TogetherAICredential
            - $ref: '#/components/schemas/CreateTwilioCredentialDTO'
              title: TwilioCredential
            - $ref: '#/components/schemas/CreateVonageCredentialDTO'
              title: VonageCredential
            - $ref: '#/components/schemas/CreateWebhookCredentialDTO'
              title: WebhookCredential
            - $ref: '#/components/schemas/CreateCustomCredentialDTO'
              title: CustomCredential
            - $ref: '#/components/schemas/CreateXAiCredentialDTO'
              title: XAiCredential
            - $ref: '#/components/schemas/CreateGoogleCalendarOAuth2ClientCredentialDTO'
              title: GoogleCalendarOAuth2ClientCredential
            - $ref: '#/components/schemas/CreateGoogleCalendarOAuth2AuthorizationCredentialDTO'
              title: GoogleCalendarOAuth2AuthorizationCredential
            - $ref: '#/components/schemas/CreateGoogleSheetsOAuth2AuthorizationCredentialDTO'
              title: GoogleSheetsOAuth2AuthorizationCredential
            - $ref: '#/components/schemas/CreateSlackOAuth2AuthorizationCredentialDTO'
              title: SlackOAuth2AuthorizationCredential
            - $ref: '#/components/schemas/CreateGoHighLevelMCPCredentialDTO'
              title: GoHighLevelMCPCredential
            - $ref: '#/components/schemas/CreateInworldCredentialDTO'
              title: InworldCredential
            - $ref: '#/components/schemas/CreateMinimaxCredentialDTO'
              title: MinimaxCredential
            - $ref: '#/components/schemas/CreateWellSaidCredentialDTO'
              title: WellSaidCredential
            - $ref: '#/components/schemas/CreateEmailCredentialDTO'
              title: EmailCredential
            - $ref: '#/components/schemas/CreateSlackWebhookCredentialDTO'
              title: SlackWebhookCredential
            discriminator:
              propertyName: provider
              mapping:
                11labs: '#/components/schemas/CreateElevenLabsCredentialDTO'
                anthropic: '#/components/schemas/CreateAnthropicCredentialDTO'
                anthropic-bedrock: '#/components/schemas/CreateAnthropicBedrockCredentialDTO'
                anyscale: '#/components/schemas/CreateAnyscaleCredentialDTO'
                assembly-ai: '#/components/schemas/CreateAssemblyAICredentialDTO'
                azure-openai: '#/components/schemas/CreateAzureOpenAICredentialDTO'
                azure: '#/components/schemas/CreateAzureCredentialDTO'
                byo-sip-trunk: '#/components/schemas/CreateByoSipTrunkCredentialDTO'
                cartesia: '#/components/schemas/CreateCartesiaCredentialDTO'
                cerebras: '#/components/schemas/CreateCerebrasCredentialDTO'
                cloudflare: '#/components/schemas/CreateCloudflareCredentialDTO'
                custom-llm: '#/components/schemas/CreateCustomLLMCredentialDTO'
                deepgram: '#/components/schemas/CreateDeepgramCredentialDTO'
                deepinfra: '#/components/schemas/CreateDeepInfraCredentialDTO'
                deep-seek: '#/components/schemas/CreateDeepSeekCredentialDTO'
                gcp: '#/components/schemas/CreateGcpCredentialDTO'
                gladia: '#/components/schemas/CreateGladiaCredentialDTO'
                gohighlevel: '#/components/schemas/CreateGoHighLevelCredentialDTO'
                google: '#/components/schemas/CreateGoogleCredentialDTO'
                groq: '#/components/schemas/CreateGroqCredentialDTO'
                inflection-ai: '#/components/schemas/CreateInflectionAICredentialDTO'
                langfuse: '#/components/schemas/CreateLangfuseCredentialDTO'
                lmnt: '#/components/schemas/CreateLmntCredentialDTO'
                make: '#/components/schemas/CreateMakeCredentialDTO'
                openai: '#/components/schemas/CreateOpenAICredentialDTO'
                openrouter: '#/components/schemas/CreateOpenRouterCredentialDTO'
                perplexity-ai: '#/components/schemas/CreatePerplexityAICredentialDTO'
                playht: '#/components/schemas/CreatePlayHTCredentialDTO'
                rime-ai: '#/components/schemas/CreateRimeAICredentialDTO'
                runpod: '#/components/schemas/CreateRunpodCredentialDTO'
                s3: '#/components/schemas/CreateS3CredentialDTO'
                supabase: '#/components/schemas/CreateSupabaseCredentialDTO'
                smallest-ai: '#/components/schemas/CreateSmallestAICredentialDTO'
                tavus: '#/components/schemas/CreateTavusCredentialDTO'
                together-ai: '#/components/schemas/CreateTogetherAICredentialDTO'
                twilio: '#/components/schemas/CreateTwilioCredentialDTO'
                vonage: '#/components/schemas/CreateVonageCredentialDTO'
                webhook: '#/components/schemas/CreateWebhookCredentialDTO'
                custom-credential: '#/components/schemas/CreateCustomCredentialDTO'
                xai: '#/components/schemas/CreateXAiCredentialDTO'
                neuphonic: '#/components/schemas/CreateNeuphonicCredentialDTO'
                hume: '#/components/schemas/CreateHumeCredentialDTO'
                mistral: '#/components/schemas/CreateMistralCredentialDTO'
                speechmatics: '#/components/schemas/CreateSpeechmaticsCredentialDTO'
                soniox: '#/components/schemas/CreateSonioxCredentialDTO'
                google.calendar.oauth2-client: '#/components/schemas/CreateGoogleCalendarOAuth2ClientCredentialDTO'
                google.calendar.oauth2-authorization: '#/components/schemas/CreateGoogleCalendarOAuth2AuthorizationCredentialDTO'
                google.sheets.oauth2-authorization: '#/components/schemas/CreateGoogleSheetsOAuth2AuthorizationCredentialDTO'
                slack.oauth2-authorization: '#/components/schemas/CreateSlackOAuth2AuthorizationCredentialDTO'
                ghl.oauth2-authorization: '#/components/schemas/CreateGoHighLevelMCPCredentialDTO'
                inworld: '#/components/schemas/CreateInworldCredentialDTO'
                minimax: '#/components/schemas/CreateMinimaxCredentialDTO'
                wellsaid: '#/components/schemas/CreateWellSaidCredentialDTO'
                email: '#/components/schemas/CreateEmailCredentialDTO'
                slack-webhook: '#/components/schemas/CreateSlackWebhookCredentialDTO'
        hooks:
          type: array
          description: This is a set of actions that will be performed on certain events.
          items:
            oneOf:
            - $ref: '#/components/schemas/CallHookCallEnding'
              title: CallHookCallEnding
            - $ref: '#/components/schemas/CallHookAssistantSpeechInterrupted'
              title: CallHookAssistantSpeechInterrupted
            - $ref: '#/components/schemas/CallHookCustomerSpeechInterrupted'
              title: CallHookCustomerSpeechInterrupted
            - $ref: '#/components/schemas/CallHookCustomerSpeechTimeout'
              title: CallHookCustomerSpeechTimeout
            - $ref: '#/components/schemas/SessionCreatedHook'
              title: SessionCreatedHook
        tools:append:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/CreateApiRequestToolDTO'
              title: ApiRequestTool
            - $ref: '#/components/schemas/CreateBashToolDTO'
              title: BashTool
            - $ref: '#/components/schemas/CreateCodeToolDTO'
              title: CodeTool
            - $ref: '#/components/schemas/CreateComputerToolDTO'
              title: ComputerTool
            - $ref: '#/components/schemas/CreateDtmfToolDTO'
              title: DtmfTool
            - $ref: '#/components/schemas/CreateEndCallToolDTO'
              title: EndCallTool
            - $ref: '#/components/schemas/CreateFunctionToolDTO'
              title: FunctionTool
            - $ref: '#/components/schemas/CreateGoHighLevelCalendarAvailabilityToolDTO'
              title: GoHighLevelCalendarAvailabilityTool
            - $ref: '#/components/schemas/CreateGoHighLevelCalendarEventCreateToolDTO'
              title: GoHighLevelCalendarEventCreateTool
            - $ref: '#/components/schemas/CreateGoHighLevelContactCreateToolDTO'
              title: GoHighLevelContactCreateTool
            - $ref: '#/components/schemas/CreateGoHighLevelContactGetToolDTO'
              title: GoHighLevelContactGetTool
            - $ref: '#/components/schemas/CreateGoogleCalendarCheckAvailabilityToolDTO'
              title: GoogleCalendarCheckAvailabilityTool
            - $ref: '#/components/schemas/CreateGoogleCalendarCreateEventToolDTO'
              title: GoogleCalendarCreateEventTool
            - $ref: '#/components/schemas/CreateGoogleSheetsRowAppendToolDTO'
              title: GoogleSheetsRowAppendTool
            - $ref: '#/components/schemas/CreateHandoffToolDTO'
              title: HandoffTool
            - $ref: '#/components/schemas/CreateMcpToolDTO'
              title: McpTool
            - $ref: '#/components/schemas/CreateQueryToolDTO'
              title: QueryTool
            - $ref: '#/components/schemas/CreateSlackSendMessageToolDTO'
              title: SlackSendMessageTool
            - $ref: '#/components/schemas/CreateSmsToolDTO'
              title: SmsTool
            - $ref: '#/components/schemas/CreateTextEditorToolDTO'
              title: TextEditorTool
            - $ref: '#/components/schemas/CreateTransferCallToolDTO'
              title: TransferCallTool
            - $ref: '#/components/schemas/CreateSipRequestToolDTO'
              title: SipRequestTool
            - $ref: '#/components/schemas/CreateVoicemailToolDTO'
              title: VoicemailTool
        variableValues:
          type: object
          description: "These are values that will be used to replace the template variables in the assistant messages and\
            \ other text-based fields.\nThis uses LiquidJS syntax. https://liquidjs.com/tutorials/intro-to-liquid.html\n\n\
            So for example, `{{ name }}` will be replaced with the value of `name` in `variableValues`.\n`{{\"now\" | date:\
            \ \"%b %d, %Y, %I:%M %p\", \"America/New_York\"}}` will be replaced with the current date and time in New York.\n\
            \ Some VAPI reserved defaults:\n - *customer* - the customer object"
        name:
          type: string
          description: 'This is the name of the assistant.


            This is required when you want to transfer between assistants in a call.'
          maxLength: 40
        voicemailMessage:
          type: string
          description: 'This is the message that the assistant will say if the call is forwarded to voicemail.


            If unspecified, it will hang up.'
          maxLength: 1000
        endCallMessage:
          type: string
          description: 'This is the message that the assistant will say if it ends the call.


            If unspecified, it will hang up without saying anything.'
          maxLength: 1000
        endCallPhrases:
          description: This list contains phrases that, if spoken by the assistant, will trigger the call to be hung up. Case
            insensitive.
          type: array
          items:
            type: string
            maxLength: 140
            minLength: 2
        compliancePlan:
          $ref: '#/components/schemas/CompliancePlan'
        metadata:
          type: object
          description: This is for metadata you want to store on the assistant.
        backgroundSpeechDenoisingPlan:
          description: 'This enables filtering of noise and background speech while the user is talking.


            Features:

            - Smart denoising using Krisp

            - Fourier denoising


            Smart denoising can be combined with or used independently of Fourier denoising.


            Order of precedence:

            - Smart denoising

            - Fourier denoising'
          allOf:
          - $ref: '#/components/schemas/BackgroundSpeechDenoisingPlan'
        analysisPlan:
          description: This is the plan for analysis of assistant's calls. Stored in `call.analysis`.
          deprecated: true
          allOf:
          - $ref: '#/components/schemas/AnalysisPlan'
        artifactPlan:
          description: This is the plan for artifacts generated during assistant's calls. Stored in `call.artifact`.
          allOf:
          - $ref: '#/components/schemas/ArtifactPlan'
        startSpeakingPlan:
          description: 'This is the plan for when the assistant should start talking.


            You should configure this if you''re running into these issues:

            - The assistant is too slow to start talking after the customer is done speaking.

            - The assistant is too fast to start talking after the customer is done speaking.

            - The assistant is so fast that it''s actually interrupting the customer.'
          allOf:
          - $ref: '#/components/schemas/StartSpeakingPlan'
        stopSpeakingPlan:
          description: 'This is the plan for when assistant should stop talking on customer interruption.


            You should configure this if you''re running into these issues:

            - The assistant is too slow to recognize customer''s interruption.

            - The assistant is too fast to recognize customer''s interruption.

            - The assistant is getting interrupted by phrases that are just acknowledgments.

            - The assistant is getting interrupted by background noises.

            - The assistant is not properly stopping -- it starts talking right after getting interrupted.'
          allOf:
          - $ref: '#/components/schemas/StopSpeakingPlan'
        monitorPlan:
          description: 'This is the plan for real-time monitoring of the assistant''s calls.


            Usage:

            - To enable live listening of the assistant''s calls, set `monitorPlan.listenEnabled` to `true`.

            - To enable live control of the assistant''s calls, set `monitorPlan.controlEnabled` to `true`.

            - To attach monitors to the assistant, set `monitorPlan.monitorIds` to the set of monitor ids.'
          allOf:
          - $ref: '#/components/schemas/MonitorPlan'
        credentialIds:
          description: These are the credentials that will be used for the assistant calls. By default, all the credentials
            are available for use in the call but you can provide a subset using this.
          type: array
          items:
            type: string
        server:
          description: 'This is where Vapi will send webhooks. You can find all webhooks available along with their shape
            in ServerMessage schema.


            The order of precedence is:


            1. assistant.server.url

            2. phoneNumber.serverUrl

            3. org.serverUrl'
          allOf:
          - $ref: '#/components/schemas/Server'
        keypadInputPlan:
          $ref: '#/components/schemas/KeypadInputPlan'
    AzureBlobStorageBucketPlan:
      type: object
      properties:
        connectionString:
          type: string
          description: This is the blob storage connection string for the Azure resource.
        containerName:
          type: string
          description: This is the container name for the Azure blob storage.
        path:
          type: string
          description: 'This is the path where call artifacts will be stored.


            Usage:

            - To store call artifacts in a specific folder, set this to the full path. Eg. "/folder-name1/folder-name2".

            - To store call artifacts in the root of the bucket, leave this blank.


            @default "/"'
      required:
      - connectionString
      - containerName
    AzureSpeechTranscriber:
      type: object
      properties:
        provider:
          type: string
          description: This is the transcription provider that will be used.
          enum:
          - azure
        language:
          type: string
          description: 'This is the language that will be set for the transcription. The list of languages Azure supports
            can be found here: https://learn.microsoft.com/en-us/azure/ai-services/speech-service/language-support?tabs=stt'
          enum:
          - af-ZA
          - am-ET
          - ar-AE
          - ar-BH
          - ar-DZ
          - ar-EG
          - ar-IL
          - ar-IQ
          - ar-JO
          - ar-KW
          - ar-LB
          - ar-LY
          - ar-MA
          - ar-OM
          - ar-PS
          - ar-QA
          - ar-SA
          - ar-SY
          - ar-TN
          - ar-YE
          - az-AZ
          - bg-BG
          - bn-IN
          - bs-BA
          - ca-ES
          - cs-CZ
          - cy-GB
          - da-DK
          - de-AT
          - de-CH
          - de-DE
          - el-GR
          - en-AU
          - en-CA
          - en-GB
          - en-GH
          - en-HK
          - en-IE
          - en-IN
          - en-KE
          - en-NG
          - en-NZ
          - en-PH
          - en-SG
          - en-TZ
          - en-US
          - en-ZA
          - es-AR
          - es-BO
          - es-CL
          - es-CO
          - es-CR
          - es-CU
          - es-DO
          - es-EC
          - es-ES
          - es-GQ
          - es-GT
          - es-HN
          - es-MX
          - es-NI
          - es-PA
          - es-PE
          - es-PR
          - es-PY
          - es-SV
          - es-US
          - es-UY
          - es-VE
          - et-EE
          - eu-ES
          - fa-IR
          - fi-FI
          - fil-PH
          - fr-BE
          - fr-CA
          - fr-CH
          - fr-FR
          - ga-IE
          - gl-ES
          - gu-IN
          - he-IL
          - hi-IN
          - hr-HR
          - hu-HU
          - hy-AM
          - id-ID
          - is-IS
          - it-CH
          - it-IT
          - ja-JP
          - jv-ID
          - ka-GE
          - kk-KZ
          - km-KH
          - kn-IN
          - ko-KR
          - lo-LA
          - lt-LT
          - lv-LV
          - mk-MK
          - ml-IN
          - mn-MN
          - mr-IN
          - ms-MY
          - mt-MT
          - my-MM
          - nb-NO
          - ne-NP
          - nl-BE
          - nl-NL
          - pa-IN
          - pl-PL
          - ps-AF
          - pt-BR
          - pt-PT
          - ro-RO
          - ru-RU
          - si-LK
          - sk-SK
          - sl-SI
          - so-SO
          - sq-AL
          - sr-RS
          - sv-SE
          - sw-KE
          - sw-TZ
          - ta-IN
          - te-IN
          - th-TH
          - tr-TR
          - uk-UA
          - ur-IN
          - uz-UZ
          - vi-VN
          - wuu-CN
          - yue-CN
          - zh-CN
          - zh-CN-shandong
          - zh-CN-sichuan
          - zh-HK
          - zh-TW
          - zu-ZA
        segmentationStrategy:
          type: string
          description: Controls how phrase boundaries are detected, enabling either simple time/silence heuristics or more
            advanced semantic segmentation.
          enum:
          - Default
          - Time
          - Semantic
        segmentationSilenceTimeoutMs:
          type: number
          description: Duration of detected silence after which the service finalizes a phrase. Configure to adjust sensitivity
            to pauses in speech.
          minimum: 100
          maximum: 5000
        segmentationMaximumTimeMs:
          type: number
          description: Maximum duration a segment can reach before being cut off when using time-based segmentation.
          minimum: 20000
          maximum: 70000
        fallbackPlan:
          description: This is the plan for transcriber provider fallbacks in the event that the primary transcriber provider
            fails.
          allOf:
          - $ref: '#/components/schemas/FallbackTranscriberPlan'
      required:
      - provider
    AzureVoice:
      type: object
      properties:
        cachingEnabled:
          type: boolean
          description: This is the flag to toggle voice caching for the assistant.
          example: true
          default: true
        provider:
          type: string
          description: This is the voice provider that will be used.
          enum:
          - azure
        voiceId:
          description: This is the provider-specific ID that will be used.
          oneOf:
          - type: string
            enum:
            - andrew
            - brian
            - emma
            title: Preset Voice Options
          - type: string
            title: Azure Voice ID
        chunkPlan:
          description: This is the plan for chunking the model output before it is sent to the voice provider.
          allOf:
          - $ref: '#/components/schemas/ChunkPlan'
        speed:
          type: number
          description: This is the speed multiplier that will be used.
          minimum: 0.5
          maximum: 2
        fallbackPlan:
          description: This is the plan for voice provider fallbacks in the event that the primary voice provider fails.
          allOf:
          - $ref: '#/components/schemas/FallbackPlan'
      required:
      - provider
      - voiceId
    BackgroundSpeechDenoisingPlan:
      type: object
      properties:
        smartDenoisingPlan:
          description: Whether smart denoising using Krisp is enabled.
          allOf:
          - $ref: '#/components/schemas/SmartDenoisingPlan'
        fourierDenoisingPlan:
          description: 'Whether Fourier denoising is enabled. Note that this is experimental and may not work as expected.


            This can be combined with smart denoising, and will be run afterwards.'
          allOf:
          - $ref: '#/components/schemas/FourierDenoisingPlan'
    BackoffPlan:
      type: object
      properties:
        type:
          type: object
          description: 'This is the type of backoff plan to use. Defaults to fixed.


            @default fixed'
          enum:
          - fixed
          - exponential
          example: fixed
        maxRetries:
          type: number
          description: 'This is the maximum number of retries to attempt if the request fails. Defaults to 0 (no retries).


            @default 0'
          minimum: 0
          maximum: 10
          example: 0
        baseDelaySeconds:
          type: number
          description: This is the base delay in seconds. For linear backoff, this is the delay between each retry. For exponential
            backoff, this is the initial delay.
          minimum: 0
          maximum: 10
          example: 1
        excludedStatusCodes:
          description: 'This is the excluded status codes. If the response status code is in this list, the request will not
            be retried.

            By default, the request will be retried for any non-2xx status code.'
          example:
          - 400
          - 401
          - 403
          - 404
          type: array
          items:
            type: object
      required:
      - type
      - maxRetries
      - baseDelaySeconds
    BearerAuthenticationPlan:
      type: object
      properties:
        type:
          type: string
          enum:
          - bearer
        token:
          type: string
          description: This is the bearer token value.
        headerName:
          type: string
          description: This is the header name where the bearer token will be sent. Defaults to 'Authorization'.
        bearerPrefixEnabled:
          type: boolean
          description: Whether to include the 'Bearer ' prefix in the header value. Defaults to true.
      required:
      - type
      - token
    BothCustomEndpointingRule:
      type: object
      properties:
        type:
          type: string
          description: 'This endpointing rule is based on both the last assistant message and the current customer message
            as they are speaking.


            Flow:

            - Assistant speaks

            - Customer starts speaking

            - Customer transcription comes in

            - This rule is evaluated on the last assistant message and the current customer transcription

            - If assistant message matches `assistantRegex` AND customer message matches `customerRegex`, the endpointing
            timeout is set to `timeoutSeconds`


            Usage:

            - If you want to wait longer while customer is speaking numbers, you can set a longer timeout.'
          enum:
          - both
        assistantRegex:
          type: string
          description: 'This is the regex pattern to match the assistant''s message.


            Note:

            - This works by using the `RegExp.test` method in Node.JS. Eg. `/hello/.test("hello there")` will return `true`.


            Hot tip:

            - In JavaScript, escape `\` when sending the regex pattern. Eg. `"hello\sthere"` will be sent over the wire as
            `"hellosthere"`. Send `"hello\\sthere"` instead.

            - `RegExp.test` does substring matching, so `/cat/.test("I love cats")` will return `true`. To do full string
            matching, send "^cat$".'
        assistantRegexOptions:
          description: 'These are the options for the assistant''s message regex match. Defaults to all disabled.


            @default []'
          type: array
          items:
            $ref: '#/components/schemas/RegexOption'
        customerRegex:
          type: string
        customerRegexOptions:
          description: 'These are the options for the customer''s message regex match. Defaults to all disabled.


            @default []'
          type: array
          items:
            $ref: '#/components/schemas/RegexOption'
        timeoutSeconds:
          type: number
          description: This is the endpointing timeout in seconds, if the rule is matched.
          minimum: 0
          maximum: 15
      required:
      - type
      - assistantRegex
      - customerRegex
      - timeoutSeconds
    BucketPlan:
      type: object
      properties:
        name:
          type: string
          description: This is the name of the bucket.
        region:
          type: string
          description: 'This is the region of the bucket.


            Usage:

            - If `credential.type` is `aws`, then this is required.

            - If `credential.type` is `gcp`, then this is optional since GCP allows buckets to be accessed without a region
            but region is required for data residency requirements. Read here: https://cloud.google.com/storage/docs/request-endpoints


            This overrides the `credential.region` field if it is provided.'
        path:
          type: string
          description: 'This is the path where call artifacts will be stored.


            Usage:

            - To store call artifacts in a specific folder, set this to the full path. Eg. "/folder-name1/folder-name2".

            - To store call artifacts in the root of the bucket, leave this blank.


            @default "/"'
        hmacAccessKey:
          type: string
          description: 'This is the HMAC access key offered by GCP for interoperability with S3 clients. Here is the guide
            on how to create: https://cloud.google.com/storage/docs/authentication/managing-hmackeys#console


            Usage:

            - If `credential.type` is `gcp`, then this is required.

            - If `credential.type` is `aws`, then this is not required since credential.awsAccessKeyId is used instead.'
        hmacSecret:
          type: string
          description: 'This is the secret for the HMAC access key. Here is the guide on how to create: https://cloud.google.com/storage/docs/authentication/managing-hmackeys#console


            Usage:

            - If `credential.type` is `gcp`, then this is required.

            - If `credential.type` is `aws`, then this is not required since credential.awsSecretAccessKey is used instead.


            Note: This is not returned in the API.'
      required:
      - name
    CallHookAssistantSpeechInterrupted:
      type: object
      properties:
        'on':
          type: string
          description: This is the event that triggers this hook
          enum:
          - assistant.speech.interrupted
          maxLength: 1000
        do:
          type: array
          description: This is the set of actions to perform when the hook triggers
          items:
            oneOf:
            - $ref: '#/components/schemas/SayHookAction'
              title: SayHookAction
            - $ref: '#/components/schemas/ToolCallHookAction'
              title: ToolCallHookAction
            - $ref: '#/components/schemas/MessageAddHookAction'
              title: MessageAddHookAction
      required:
      - 'on'
      - do
    CallHookCallEnding:
      type: object
      properties:
        'on':
          type: string
          description: This is the event that triggers this hook
          enum:
          - call.ending
          maxLength: 1000
        do:
          type: array
          description: This is the set of actions to perform when the hook triggers
          items:
            oneOf:
            - $ref: '#/components/schemas/ToolCallHookAction'
              title: ToolCallHookAction
            - $ref: '#/components/schemas/MessageAddHookAction'
              title: MessageAddHookAction
        filters:
          description: This is the set of filters that must match for the hook to trigger
          type: array
          items:
            $ref: '#/components/schemas/CallHookFilter'
      required:
      - 'on'
      - do
    CallHookCustomerSpeechInterrupted:
      type: object
      properties:
        'on':
          type: string
          description: This is the event that triggers this hook
          enum:
          - customer.speech.interrupted
          maxLength: 1000
        do:
          type: array
          description: This is the set of actions to perform when the hook triggers
          items:
            oneOf:
            - $ref: '#/components/schemas/SayHookAction'
              title: SayHookAction
            - $ref: '#/components/schemas/ToolCallHookAction'
              title: ToolCallHookAction
            - $ref: '#/components/schemas/MessageAddHookAction'
              title: MessageAddHookAction
      required:
      - 'on'
      - do
    CallHookCustomerSpeechTimeout:
      type: object
      properties:
        'on':
          type: string
          description: Must be either "customer.speech.timeout" or match the pattern "customer.speech.timeout[property=value]"
          maxLength: 1000
        do:
          type: array
          description: This is the set of actions to perform when the hook triggers
          items:
            oneOf:
            - $ref: '#/components/schemas/SayHookAction'
              title: SayHookAction
            - $ref: '#/components/schemas/ToolCallHookAction'
              title: ToolCallHookAction
            - $ref: '#/components/schemas/MessageAddHookAction'
              title: MessageAddHookAction
        options:
          description: This is the set of filters that must match for the hook to trigger
          allOf:
          - $ref: '#/components/schemas/CustomerSpeechTimeoutOptions'
        name:
          type: string
          description: 'This is the name of the hook, it can be set by the user to identify the hook.

            If no name is provided, the hook will be auto generated as UUID.


            @default UUID'
          maxLength: 1000
      required:
      - 'on'
      - do
    CallHookFilter:
      type: object
      properties:
        type:
          type: string
          description: This is the type of filter - currently only "oneOf" is supported
          enum:
          - oneOf
          maxLength: 1000
        key:
          type: string
          description: This is the key to filter on (e.g. "call.endedReason")
          maxLength: 1000
        oneOf:
          description: This is the array of possible values to match against
          type: array
          items:
            type: string
            maxLength: 1000
      required:
      - type
      - key
      - oneOf
    CartesiaExperimentalControls:
      type: object
      properties:
        speed:
          oneOf:
          - type: string
            enum:
            - slowest
            - slow
            - normal
            - fast
            - fastest
            example: normal
          - type: number
            minimum: -1
            maximum: 1
            example: 0.5
        emotion:
          type: string
          enum:
          - anger:lowest
          - anger:low
          - anger:high
          - anger:highest
          - positivity:lowest
          - positivity:low
          - positivity:high
          - positivity:highest
          - surprise:lowest
          - surprise:low
          - surprise:high
          - surprise:highest
          - sadness:lowest
          - sadness:low
          - sadness:high
          - sadness:highest
          - curiosity:lowest
          - curiosity:low
          - curiosity:high
          - curiosity:highest
          example:
          - happiness:high
    CartesiaGenerationConfig:
      type: object
      properties:
        speed:
          type: number
          description: Fine-grained speed control for sonic-3. Only available for sonic-3 model.
          example: 1
          minimum: 0.6
          maximum: 1.5
          default: 1
        volume:
          type: number
          description: Fine-grained volume control for sonic-3. Only available for sonic-3 model.
          example: 1
          minimum: 0.5
          maximum: 2
          default: 1
        experimental:
          description: Experimental model controls for sonic-3. These are subject to breaking changes.
          allOf:
          - $ref: '#/components/schemas/CartesiaGenerationConfigExperimental'
    CartesiaGenerationConfigExperimental:
      type: object
      properties:
        accentLocalization:
          type: integer
          description: 'Toggle accent localization for sonic-3: 0 (disabled, default) or 1 (enabled). When enabled, the voice
            adapts to match the transcript language accent while preserving vocal characteristics.'
          example: 0
          minimum: 0
          maximum: 1
          default: 0
    CartesiaTranscriber:
      type: object
      properties:
        provider:
          type: string
          enum:
          - cartesia
        model:
          type: string
          enum:
          - ink-whisper
        language:
          type: string
          enum:
          - aa
          - ab
          - ae
          - af
          - ak
          - am
          - an
          - ar
          - as
          - av
          - ay
          - az
          - ba
          - be
          - bg
          - bh
          - bi
          - bm
          - bn
          - bo
          - br
          - bs
          - ca
          - ce
          - ch
          - co
          - cr
          - cs
          - cu
          - cv
          - cy
          - da
          - de
          - dv
          - dz
          - ee
          - el
          - en
          - eo
          - es
          - et
          - eu
          - fa
          - ff
          - fi
          - fj
          - fo
          - fr
          - fy
          - ga
          - gd
          - gl
          - gn
          - gu
          - gv
          - ha
          - he
          - hi
          - ho
          - hr
          - ht
          - hu
          - hy
          - hz
          - ia
          - id
          - ie
          - ig
          - ii
          - ik
          - io
          - is
          - it
          - iu
          - ja
          - jv
          - ka
          - kg
          - ki
          - kj
          - kk
          - kl
          - km
          - kn
          - ko
          - kr
          - ks
          - ku
          - kv
          - kw
          - ky
          - la
          - lb
          - lg
          - li
          - ln
          - lo
          - lt
          - lu
          - lv
          - mg
          - mh
          - mi
          - mk
          - ml
          - mn
          - mr
          - ms
          - mt
          - my
          - na
          - nb
          - nd
          - ne
          - ng
          - nl
          - nn
          - 'no'
          - nr
          - nv
          - ny
          - oc
          - oj
          - om
          - or
          - os
          - pa
          - pi
          - pl
          - ps
          - pt
          - qu
          - rm
          - rn
          - ro
          - ru
          - rw
          - sa
          - sc
          - sd
          - se
          - sg
          - si
          - sk
          - sl
          - sm
          - sn
          - so
          - sq
          - sr
          - ss
          - st
          - su
          - sv
          - sw
          - ta
          - te
          - tg
          - th
          - ti
          - tk
          - tl
          - tn
          - to
          - tr
          - ts
          - tt
          - tw
          - ty
          - ug
          - uk
          - ur
          - uz
          - ve
          - vi
          - vo
          - wa
          - wo
          - xh
          - yi
          - yue
          - yo
          - za
          - zh
          - zu
        fallbackPlan:
          description: This is the plan for transcriber provider fallbacks in the event that the primary transcriber provider
            fails.
          allOf:
          - $ref: '#/components/schemas/FallbackTranscriberPlan'
      required:
      - provider
    CartesiaVoice:
      type: object
      properties:
        cachingEnabled:
          type: boolean
          description: This is the flag to toggle voice caching for the assistant.
          example: true
          default: true
        provider:
          type: string
          description: This is the voice provider that will be used.
          enum:
          - cartesia
        voiceId:
          type: string
          description: The ID of the particular voice you want to use.
        model:
          type: string
          description: This is the model that will be used. This is optional and will default to the correct model for the
            voiceId.
          enum:
          - sonic-3.5
[...]
